*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* Colors from your design */
  --primary-teal-dark: #2A7B72;
  --primary-teal-text: #2A7B72;
  --background-light: #F8F9FA;
  --text-primary: #1B3B38;
  --text-secondary: #4C6764;
  --white: #FFFFFF;
  --border-light: #E0E0E0;
}

html {
  height: auto;
}
/* Reset and base styles */
body {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background-color: var(--background-light);
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
}

#root {
    width: 100%;
    flex-grow: 1; /* Allows root to grow and fill space in flex body */
    display: flex;
    flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}